<%#debugger %>
<%= form_with model: @cart1, url: user_card1_menu_cart1s_path(current_user,current_user.card1.id), method: :post do |f| %>

  
  <p>
    Enter Quantity: <%= f.number_field :quantity %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>





