<button type="button" class="btn btn-dark">Your Card Balance</button> <br>

<ul>
  <% @card1s.each do |card1| %>
    <li>
      <%#= post.id %>
      <%= card1.amount %> <br>

      

      <% end %>
